<h1><%= @product.title_en %> | <%= @product.title_ru %></h1>
<p><%= @product.description_en %></p>
<p><%= @product.description_ru %></p>
<p>
    Price: <b><%= @product.price %></b>
</p>
<p>
    <b>Category: </b> <%= @product.category.name_en %> | <%= @product.category.name_ru %>
</p>
<div>
    <%= link_to 'Back to list', admin_products_path %>
</div>